[submodule ".registry"]
	path = .registry
	url = https://github.com/canmod/canmod.r-universe.dev
	branch = HEAD
[submodule "iidda"]
	path = iidda
	url = https://github.com/canmod/iidda-tools
	subdir = R/iidda
[submodule "iidda.analysis"]
	path = iidda.analysis
	url = https://github.com/canmod/iidda-tools
	subdir = R/iidda.analysis
[submodule "iidda.api"]
	path = iidda.api
	url = https://github.com/canmod/iidda-tools
	subdir = R/iidda.api
[submodule "macpan2"]
	path = macpan2
	url = https://github.com/canmod/macpan2
[submodule "macpan2helpers"]
	path = macpan2helpers
	url = https://github.com/canmod/macpan2helpers
[submodule "oor"]
	path = oor
	url = https://github.com/canmod/oor
